/* .logo{
    margin-left: -385px;
} */
.sun{
    margin-left: -120%;
}
.container{
    border-left: 2px dashed #a1a1a1;
    border-right: 2px dashed #a1a1a1;
}
.center{
    padding-top: 4%;
}
.footer{

    padding-top: 8%;
    padding-bottom: 0%;
}
.header{
 list-style: none;
 overflow: hidden;
 margin-top: 12%;
}
.header .item {
 float: left;
 width: 144px;
 line-height: 5;
 text-align: center;
 color: #ffff;
 font-family: Arial, Helvetica, sans-serif

}
.header .item1 {
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-position-y:50%
}
.header .item2 {
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
    background-position-y:165%
}
.header .item3 {
    background-image: url('../img/3.png');
    background-repeat: no-repeat;
    background-position-y:180%
}

.header .item4 {
    background-image: url('../img/4.png');
    background-repeat: no-repeat;
    background-position-y:100%
}

.book{
    margin-top: 21%;
}
.girl{
    position: absolute;
    top: 8%;
    margin-left: 26%;
}

.boy{    
    position: absolute;
    top: -5%;
    margin-left: 53%;
} 
.row{    
    position: relative;
}

.notice{
    border:2px dashed #a1a1a1;
    border-radius:25px;
    height: 130%;
    border-color:greenyellow; 
}

.noticeheader {
    border: 2px dashed #a1a1a1;
    border-radius: 75px;
    height: 21%;
    border-color: #ff722f;
    margin-top: -20%;
}
.noticeimg{
    margin-left: -11%;
    margin-top: -8%;
}
.noticetext{
    margin-left: 8%;
    margin-top: -17%;
    text-align: center;
    font-size: 18px;
    font-family: fantasy;
}

.lu{
    margin-left: -65%;
    margin-top: -23%;
    position: relative;
    z-index: 2;
}

.threeperson{
    margin-top: -74%;
    margin-left: 23%;
    position: relative;
    z-index: 2;
}

.hill{
    margin-left: -293%;
    z-index: 1;
    position: relative;
    margin-top: -35%;
}
.zhalan{
    margin-top: -35%;
    margin-left: 12%;
    position: relative;
    z-index: 3;
}
.zhalan1{
    margin-left: -103%;
    margin-top: -42%;
    position: relative;
    z-index: 3;
}